<footer>
	<div class="row">
		<div class="col-4">
			<h4>Recevez
				<span class="orange w-100">nos offres exclusves</span>
			</h4>
			<form action="/" class="form-group row w-100" method="POST">
				<input type="text" id="mel" class="form-control col-7" placeholder="Votre adresse e-mail">
				<button type="submit" class=" col-3 ml-1 btn btn-warning btn-orange">Valider</button>
			</form>
		</div>
		<div class="col-4 textcenter">
			<h4 class="m-auto">
				<span class="orange">Suivez-nous</span>
				par ici !</h4>
			<div class="icon mt-2 m-2">
				<i class="fab fa-facebook-square"></i>
				<i class="fab fa-twitter-square ml-3"></i>
			</div>
		</div>
		<div class="col-4 textcenter">
			<div class="row textcenter col-icon">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_1_1.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_1_2.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_1_3.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_1_4.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_1_5.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_1_6.png') }}" alt="icon_paypal">
			</div>
			<div class="row textcenter col-icon">
				<img href="#" src="{{ asset('./assets/img/FOOTER/Paypal_icon.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/Icon_2_2.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_2_3.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_2_4.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_2_5.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_2_6.png') }}" alt="icon_paypal">
				<img href="#" src="{{ asset('./assets/img/FOOTER/icon_2_7.png') }}" alt="icon_paypal">
			</div>
		</div>
	</div>

	<div class="row mt-2 pt-4">
		<div class="col-3">
			<h5>Contactez-nous</h5>
			<h6>Conseil / Commande téléphone</h6>
			<p>du lundi au vendredi de 8h à 19h,</p>
			<p>le samedi de 10h à 18h</p>
			<br/>
			<p>Depuis le France :</p>
			<h5>02 40 30 50 50</h5>
			<br/>
			<p>Belgique, Suisse, International :</p>
			<h5>0033 2 40 38 50 50</h5>
			<br/>
			<h6>Service après vente :</h6>
			<h5>02 51 80 68 76</h5>
			<p>Contactez-nous par téléphne</p>
			<p>du lundi au samedi de 9h à 18h</p>
			<p>ou depuis votre compte client</p>
			<br/>
			<h6>Conseils pour choisir un instrument :</h6>
			<p>
				<a class="footer_a" href="#">infovg@villagegreen.com</a>
			</p>
			<br/>
			<h6>Service Presse :</h6>
			<p>
				<a class="footer_a" href="#">contact@villagegreen.com</a>
			</p>
			<br/>
			<h5>Village Green Recrute !</h5>
		</div>

		<div class="col-3">
			<h5>Village Green Stores</h5>
			<h6>Ouverts de 10h à 19h30 non-stop</h6>
			<br/>
			<p>Guitares - Amplificateurs - Effets :</p>
			<p>182 avenue Jean Jaurès</p>
			<p>75019 Paris</p>
			<br/>
			<p>Clavier - Home Studio - Sonorisation</p>
			<p>Equipement DJ - Eclairage :</p>
			<p>184 avenue Jean Jaurès</p>
			<p>75019 Paris</p>
			<br/>
			<p>Librairie Musicale :</p>
			<p>7 av. du Nouveau Conservatoire</p>
			<p>75019 Paris</p>
			<br/>
			<p>Instrument à vent</p>
			<p>9/11 av. du Nouveau Conservatoire</p>
			<p>75019 Paris</p>
			<br/>
			<p>Percussions :</p>
			<p>13/15 av. du Nouveau Conservatoire</p>
			<p>75019 Paris</p>
			<br/>
			<p>Métro Ligne 5, station Porte de Pantin.</p>
			<br/>
			<p>Plan d'accès / Visite virtuelle</p>
		</div>

		<div class="col-3">
			<h5>Utiles !</h5>
			<p>Qui sommes nous ?</p>
			<br/>
			<p>F.A.Q</p>
			<br/>
			<p>
				<a class="footer_a" href="#">Le blog Village Green</a>
			</p>
			<br/>
			<p>Vous avez un site Internet ?</p>
			<p>Devenez partenaire Village Green</p>
			<br/>
			<p>Conditions générales de vente</p>
			<br/>
			<p>Mentions légales</p>
			<br/>
			<p>Plan du site</p>
			<br/>
			<p>Parrainage</p>
			<br/>
			<p>Nouveautés</p>
			<br/>
			<p>Assurance Woodbrass.com</p>
			<br/>
			<p>Location d'instruments de musique</p>
		</div>

		<div class="col-3">
			<h5>Village Green</h5>
			<h5>Preservation Society</h5>
			<br/>
			<p>Toute l'actualité musicale</p>
			<br/>
			<p>Voir l'avis des musiciens</p>
			<br/>
			<p>Concours: inscription et résultat... à vous de jouer !</p>
		</div>
	</div>

	<div class="textcenter col-12">
        <p class="text-center">Village Green est une entreprise 100% Made in France !</p>
        <p class="text-center">Magasin de musique - Achat/Vente instruments de musiques - Location instruments de musique - Atelier de réparation - Vente accessoires de musique au meilleur prix.</p>
        <p class="text-center">1989 - 2021 - RCS Paris B 222 333 444 Déclaration CNIL : 12345678</p>
    </div>

	<div class=" textcenter container-fluid dark pt-3 pb-3 " style="height: 100%">
		<div class="m-3">
            <p class="p_no_opac">Guitares - Ampli / Effets - Claviers / Pianos - Synthés - Batteries / Percussions - Vents - Violons - Home Studio - Sonorisation - Deejay - Eclairage - Micros - Casques - Enregistreurs - Lifestyle - Déstockage - Ecoles & Pros</p>
        </div>
		<div class="mt-2">
            <p>Behringer - Bose - Conservatoire de musique de Paris - Fender - Focusrite Scarlett - Focusrite - Gibson 2016 - Gibson - Guitar Shop - Guitare Martin - Guitare Taylor - Guitare classique - Guitare folk - Guitare électrique </p>
            <p>IK Multimedia - Luthier Paris - Magasin DJ Paris - Magasin instruments de musique Paris - Magasin sonorisation Paris - Microphone USB - Musique - Namm - Partition alto - Partition clarinette - Partition flute - Partition guitare</p>
            <p>Partition harmonica - Partition musique - Partition piano - Partition saxophone - Partition trombone - Partition trompette - Partition vibraphone - Partition violon - Partition xylophone - Piano pas cher - Pioneer DJ - Platine vinyle</p>
            <p> Site internet DJ - Site internet Deejay - Site internet Violon - Sono Behringer - Tablature guitare - Tablatures - Ukulele - Vente sono - Yamaha RS - batterie débutant</p>
        </div>
	</div>
</footer>
